<div class="d-flex justify-content-center">
  <div class="m-auto">
  <% @comments.sort_by(&:created_at).each do |comment| %>
    <div class="d-flex flex-column align-items-center m-3">
        <p class="font-weight-bold m-3"><%= comment.user.first_name + " " + comment.user.last_name %></p>
        <p class="m-3"><%= comment.content %></p>
        <p class="m-3"><%= link_to "Edit", edit_gossip_comment_path(@gossip.id, comment.id), class:"btn btn-outline-success" %></p>
      </div>
  <% end %>
  <div>
</div>

